.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding: 15px 15px 15px 70px;
}

.filmPoster {
  margin-right: 30px;
}

.film_img {
  width: 340px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.wraper {
  max-width: 800px;
}

.description {
  flex: 1;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.configuration {
  margin-bottom: 15px;
}

.configurationList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.configurationIitem {
  display: flex;
  justify-content: start;
  margin-bottom: 5px;
}

.itemTitle {
  margin: 5px 5px;
}
.originalTitle {
  font-weight: 600;
  margin: 5px 5px;
}

.secondTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.overview {
  text-align: justify;
}
